.transaction {
  background-color: #f9f9f9;

  .transaction-summary {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: -1px;
    border: 1px solid #dddddd;
    cursor: pointer;

    .transaction-summary-balance {
      float: right;
    }
  }

  &.transaction-credit {
    .transaction-summary-amount {
      color: #F40000;
    }
  }

  &.transaction-debit {
    .transaction-summary-amount {
      color: #16b446;
    }
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
  }
}
