.transaction-details {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #cccccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;

  table {
    th {
      text-align: right;
      padding-right: 10px;
    }
  }
}
